<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/3c72e91e44.js" crossorigin="anonymous"></script>
    <title>New League</title>
    <style type="text/css">
        body{
            font-family: 'Noto Sans KR', sans-serif;
        }
        input,
        button{
           margin:0;
        	border:0;
        	padding:0;
        	display:inline-block;
        	vertical-align:middle;
        	white-space:normal;
        	background:none;
        	line-height:1;
        }
        input:focus{
        	outline:0;
        }
        .loginInfo{
            margin-left:30px;
            margin-top:10px;
            display: flex;
            justify-content: space-between;
            margin-right: 50px;
        }
        .loginInfo_home{
            margin-top:4px;   
        }
        .loginInfo_link{
            font-size: 25px;
            color: black;
            font-family: helvetica;
            text-decoration: none;
        }
        .loginInfo_link:hover{
            font-size: 25px;
            color: black;
            font-family: helvetica;
            text-decoration: none;
        }
        .loginInfo__logout-text{
            font-size: 12px;
            color: white;
            font-family: helvetica;
            text-decoration: none;
            padding-bottom:2px;
        }
        .loginInfo_info{
            display:flex;
        }
        .loginInfo__comment{
            font-weight:700;
            color:#7F0F77;
            font-size: 30px;
            margin-right: 10px;
        }
        .loginInfo__comment2{
            font-size: 14px;
            margin-right: 10px;
            margin-top: 14px;
        }
        .loginInfo__logout{
            text-align: center;
            background-color:#273075;
            width:72px;
            height:26px;
            border: 1px solid black;
            border-radius: 10px;
            padding-bottom:10px;
            margin-top:10px;
            
        }
        .newLeague{
            margin-top: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction:column;
        }
        .newLeague__comment{
            width:240px;
            height:60px;
            color:white;
            background-color:#37003C;
            border-radius: 40px;
            text-align:center;
            padding-top:15px;
            box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.59);
        }
        .newLeague__form{
            display:flex;
            align-items: center;
            flex-direction:column;
            margin-top: 30px;
        }
        .newLeague__name,
        .newLeague__kind
        {
            width:280px;
            height:60px;
            color:white;
            background-color:#37003C;
            border-radius: 40px;
            text-align:center;
            padding-top:0px;
            box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.59);
        }
        .newLeague__kind{
            margin-top:30px;
        }
        .newLeague__button{
            width:200px;
            height:30px;
            color:white;
            background-color:red;
            border-radius: 40px;
            text-align:center;
            padding-top:0px;
            box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.59);
            margin-top: 30px;
            margin-bottom: 300px;
        }
        
    </style>
</head>
<body>
    <% if user_signed_in? %>
       <div class="loginInfo">
            <div class="loginInfo_home">
                <a class="loginInfo_link" href="/">
                    <i class="far fa-futbol"></i>
                    <span class=:loginInfo_home-text>____League</span>
                </a>
            </div>
            <div class="loginInfo_info">
                <span class="loginInfo__comment">
                    <%= current_user.name %>
                </span>
                <span class="loginInfo__comment2">
                    님
                </span>
                <div class="loginInfo__logout">
                    <a class="loginInfo__logout-text" href="/users/sign_out" data-method="delete">로그아웃</a>
                </div>
            </div>
        </div>
    
        <hr>
        <div class="newLeague">
            <div class="newLeague__comment">
                <span>정보를 입력하세요</span>
            </div>
            <form class="newLeague__form" action="/leagues/create_league" method="POST">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <input class="newLeague__name" type="text" name="league_name" placeholder="리그 이름을 입력하세요">
                <input class="newLeague__kind" type="text" name="league_type" placeholder="종목을 입력하세요">
                <button class="newLeague__button" type="submit">리그생성</button>
            </form>
        </div>
    
    <% else %>
        <a href="/users/sign_in">로그인</a>
    <% end %>
<hr>

</body>
</html>


