<div>
    <table>
        <tr><h1>리그정보를 입력하세요</h1></tr>
        <form action="/leagues/create_league" method="POST">
            <tr>
                <td>리그이름: </td>
                <td><input type="text" name="league_name"></td>
            </tr>
            <tr>
                <td>리그종류: </td>
                <td><input type="text" name="league_type"></td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">제출</button>     </td>   
            </tr>
        </form>
    </table>
</div>