<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New League</title>
    <style type="text/css">
        input,
        button{
           margin:0;
        	border:0;
        	padding:0;
        	display:inline-block;
        	vertical-align:middle;
        	white-space:normal;
        	background:none;
        	line-height:1;
        }
        input:focus{
        	outline:0;
        }
        .loginInfo{
            display: flex;
            justify-content: flex-end;
            margin-right: 50px;
        }
        .newLeague{
            margin-top: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction:column;
        }
        .newLeague__comment{
            width:240px;
            height:60px;
            color:white;
            background-color:#37003C;
            border-radius: 40px;
            text-align:center;
            padding-top:15px;
            box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.59);
        }
        .newLeague__form{
            display:flex;
            align-items: center;
            flex-direction:column;
            margin-top: 30px;
        }
        .newLeague__name,
        .newLeague__kind
        {
            width:280px;
            height:60px;
            color:white;
            background-color:#37003C;
            border-radius: 40px;
            text-align:center;
            padding-top:0px;
            box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.59);
        }
        .newLeague__kind{
            margin-top:30px;
        }
        .newLeague__button{
            width:200px;
            height:30px;
            color:white;
            background-color:red;
            border-radius: 40px;
            text-align:center;
            padding-top:0px;
            box-shadow: 2px 2px 15px 1px rgba(0,0,0,0.59);
            margin-top: 30px;
            margin-bottom: 300px;
        }
        
    </style>
</head>
<body>
    <% if user_signed_in? %>
        <div class="loginInfo">
            <span class="loginInfo__email"><%= current_user.email %></span> 
            <span class="loginInfo__comment">님 안녕하세요.</span>
            <a href="/users/sign_out" data-method="delete">로그아웃</a>
        </div>
    
        <hr>
        <div class="newLeague">
            <div class="newLeague__comment">
                <span>정보를 입력하세요</span>
            </div>
            <form class="newLeague__form" action="/leagues/create_league" method="POST">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <input class="newLeague__name" type="text" name="league_name" placeholder="리그 이름을 입력하세요">
                <input class="newLeague__kind" type="text" name="league_type" placeholder="종목을 입력하세요">
                <button class="newLeague__button" type="submit">리그생성</button>
            </form>
        </div>
    
    <% else %>
        <a href="/users/sign_in">로그인</a>
    <% end %>
<hr>

</body>
</html>


