<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3c72e91e44.js" crossorigin="anonymous"></script>
    <title>Show league</title>
    <style type="text/css">
      input{
          margin:0;
        	border:0;
        	padding:0;
        	display:inline-block;
        	vertical-align:middle;
        	white-space:normal;
        	background:none;
        	line-height:1;
      }
      input:focus{
      	outline:0;
      }
      html{
        height:100%;
      }
      body{
        width:100%;
        height:1050px;
      }
      .mainBody{
        width:100%;
        height:100%;
        display:flex;
        justify-content:center;
        align-items:center;
        
      }
      .user_email,
      .user_password{
          font-size:12px;
          background-color:#eae8e8;
          text-align:center;
          border: 1px solid #bcb7b7;
          border-radius: 3px;
          width:260px;
          height:35px;
          background-color:white;
          margin-bottom:6px;
          margin-left: 20px;
        }
      .user_email-input,
      .user_password-input{
        border-radius: 3px;
        background-color: #eae8e8;
        width:258px;
        height:33px;
      }
        
      .form-inputs{
        margin-left:45px;
      }
      .loginMain{
        text-align:center;
        background-color: white;
        height: 480px;
        width:390px;
        border-radius: 37px;
        box-shadow: 2px 2px 30px 20px rgba(0,0,0,0.25);
      }
      .loginMain__text{
        font-family: 'Ubuntu', sans-serif;
        font-size: 28px;
        margin-top:40px;
        margin-bottom: 40px;
      }
      .login_btn{
        font-size:14px;
        color: white;
        background-color:#5b85b7;
        width:260px;
        height:30px;
        margin-top:10px;
        margin-right:6px;
        border-radius: 3px;
      }
      .google_oauth2-text {
        color: white;
        font-family: helvetica;
        text-decoration: none;
      }
      .google_oauth2-text:hover {
        color: white;
        font-family: helvetica;
        text-decoration: none;
      }
      .or{
        margin-top:10px;
      }
      .google_oauth2{
        background-color:#E1625A;
        text-align:center;
        width:260px;
        height:30px;
        color:white;
        border-radius: 3px;
        margin-top:17px;
        margin-left:65px;
        padding-top:3px;
      }
      .forgot_password{
        margin-top:10px;
      }
      .forgot_password-text{
        font-size:12px;
        color: #E1625A;
        font-family: helvetica;
        text-decoration: none;
      }
      .forgot_password-text:hover{
        font-size:12px;
        color: #E1625A;
        font-family: helvetica;
        text-decoration: none;
      }
      
      .sign_up{
        margin-left:148px;
        margin-top: 30px;
        width:100px;
        height:30px;
        background-color:black;
        border-radius: 3px;
      }
      
      .sign_up-text{
        font-size:12px;
        color: white;
        font-family: helvetica;
        text-decoration: none;
      }
      .sign_up-text:hover{
        font-size:12px;
        color: white;
        font-family: helvetica;
        text-decoration: none;
      }
      
    </style>
</head>
<body>
  <div class="mainBody">
    <div class="loginMain">
      <div class="loginMain__text">_____ League</div>
      
      <form class="simple_form new_user" id="new_user" novalidate="novalidate" action="/users/sign_in" accept-charset="UTF-8" method="post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input name="utf8" type="hidden" value="✓">
      
        <div class="form-inputs">
          <div class="input email optional user_email">
          <!--  <label class="email optional" for="user_email">Email</label>
            <br>-->
            <input autocomplete="email" class="user_email-input" autofocus="autofocus" type="email" value="" placeholder="이메일" name="user[email]" id="user_email">
          </div>
          <div class="input password optional user_password">
          <!--  <label class="password optional" for="user_password">Password</label>
            <br>-->
            <input autocomplete="current-password" class="user_password-input" type="password"  placeholder="비밀번호" name="user[password]" id="user_password">
          </div>
          <!--<div class="input boolean optional user_remember_me">
            <input value="0" type="hidden" name="user[remember_me]">
            <label class="boolean optional checkbox" for="user_remember_me">
            <input class="boolean optional" type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">Remember me</label>
          </div>-->
        </div>
      
        <div class="form-actions">
          <input type="submit" name="commit" value="로그인" class="login_btn" data-disable-with="Log in">
        </div>
        <div class="or">or</div>
        <div class="google_oauth2">
          <i class="fab fa-google"></i>
          <a class="google_oauth2-text" href="/users/auth/google_oauth2">Google 로그인</a>
        </div>
        <div class="forgot_password">
          <a class="forgot_password-text" href="/users/password/new">Forgot your password?</a>
        </div>
        <div class="sign_up">
          <a class="sign_up-text" href="/users/sign_up">가입하기</a>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
